<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- Define targets -->
    <targets>
        <!-- Write log output to console -->
        <target name="consoleTarget" 
                xsi:type="ColoredConsole" 
                layout="[${longdate}] [${level:uppercase=true}] [${callsite:includeNamespace=false}] ${message:withexception=true}"/>

        <!-- Also write log output to file -->
        <target name="fileTarget"
                xsi:type="File"
                fileName="latest.log"
                layout="[${longdate}] [${level:uppercase=true}] [${callsite:includeNamespace=false}] ${message:withexception=true}"/>
        <target name="errorFileTarget"
                xsi:type="File"
                fileName="error.log"
                layout="[${longdate}] [${level:uppercase=true}] [${callsite:includeNamespace=false}] ${message:withexception=true}"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="consoleTarget" />
        <logger name="*" minlevel="Trace" writeTo="fileTarget" />
        <logger name="*" minlevel="Error" writeTo="errorFileTarget" />
    </rules>
</nlog>