<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!-- Define targets -->
  <targets>
    <!-- Write log output to console -->
    <target name="consoleTarget" 
            xsi:type="Console" 
            layout="[${longdate}] [${level:uppercase=true}] [${callsite:includeNamespace=false}] ${message:withexception=true}"/>
    <target xsi:type="File" name="allfile" fileName="everything-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="aspnet-diagnostics" fileName="nlog-AspNetCore-Diagnostics-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    <target xsi:type="File" name="efcore" fileName="nlog-EFCore-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="efcore-diagnostics" fileName="nlog-EFCore-Diagnostics-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    
    <!-- Also write log output to file -->
    <target name="fileTarget"
            xsi:type="File"
            fileName="latest.log"
            layout="[${longdate}] [${level:uppercase=true}] [${callsite:includeNamespace=false}] ${message:withexception=true}"/>
    <target name="errorFileTarget"
            xsi:type="File"
            fileName="error.log"
            layout="[${longdate}] [${level:uppercase=true}] [${callsite:includeNamespace=false}] ${message:withexception=true}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="consoleTarget">
      <filters defaultAction="Neutral">
        <when condition="starts-with(logger, 'Microsoft.')" action="Ignore" />
      </filters>
    </logger>
    
    <logger name="*" minlevel="Debug" writeTo="allfile" />
    <logger name="*" minlevel="Error" writeTo="errorFileTarget" />
    
    <logger name="Microsoft.EntityFramework.*" minlevel="Info" writeTo="efcore" />
    <logger name="Microsoft.EntityFramework.*" minlevel="Trace" writeTo="efcore-diagnostics" />
    
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" writeTo="consoleTarget" />
    <logger name="Microsoft.AspNetCore.Routing.*" finalMinLevel="Info" writeTo="consoleTarget" />
    <logger name="Microsoft.AspNetCore.Hosting.Diagnostics*" minlevel="Trace" writeTo="aspnet-diagnostics" />
    
    <logger name="*" minlevel="Trace" writeTo="fileTarget" />
  </rules>
</nlog>