@using XeniaBot.WebPanel.Helpers
@{
    ViewData["Title"] = "Home";
}

<div class="px-4 py-5 my-5 text-center">
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h1 class="display-5 fw-bold">Heya @User.Identity.Name 👋</h1>
    }
    else
    {
        <h1 class="display-5 fw-bold">Heya! 👋</h1>
    }
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Welcome to the Xenia Bot Dashboard. Login to manage your servers or invite me to your server.
        </p>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        @if ((User?.Identity?.IsAuthenticated ?? false) == false)
        {
            <a class="btn btn-lg btn-primary mx-2" href="/signin?returnUrl=%2F">Sign in</a>
        }
        <a class="btn btn-lg btn-success mx-2" href="https://r.kate.pet/xeniadiscord">Invite</a>
        <a class="btn btn-lg btn-secondary mx-2" href="https://r.kate.pet/discord">Support</a>
    </div>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-2">
        <a class="btn btn-lg btn-primary mx-2" asp-controller="Server" asp-action="List">Manage Servers</a>
    </div>
</div>
