@using XeniaBot.Data
@model BaseViewModel
@namespace XeniaBot.WebPanel.Views.Home

@{
    ViewData["Title"] = "Preferences";
}

<h2>@ViewData["Title"]</h2>
<hr class="my-2" />
<form
    id="user_config"
    enctype="application/x-www-form-urlencoded"
    method="post"
    asp-controller="Home"
    asp-action="PreferencesSave">
    @await Component.InvokeAsync("FormCheckbox", new FormCheckboxViewModel()
    {
        ParentFormId = "user_config",
        Name = "EnableProfileTracking",
        Id = "EnableProfileTracking",
        Label = "Enable Profile Tracking",
        Margin = false,
        State = @Model.UserConfig.EnableProfileTracking
    })
    This feature will detect and log changes for the following data in your profile;
    <ul>
        <li>Avatar</li>
        <li>Profile Background</li>
        <li>"About Me" section</li>
    </ul>
    <hr class="my-2" />
    @await Component.InvokeAsync("FormSelect", new FormSelectViewModel()
    {
        ParentFormId = "user_config",
        Name = "ListViewStyle",
        Id = "ListViewStyle",
        Label = "Default List Display Style",
        Data = new List<(object, string)>()
        {
            ((int)ListViewStyle.List, "List (default)"),
            ((int)ListViewStyle.Grid, "Grid")
        },
        Selected = (int)@Model.UserConfig.ListViewStyle
    })
    <hr class="my-2" />
    <input type="submit" value="Save" class="btn btn-success" />
</form>
