@using XeniaBot.Data
@model BaseViewModel
@namespace XeniaBot.WebPanel.Views.Home

@{
    ViewData["Title"] = "Preferences";
}

<h2>@ViewData["Title"]</h2>
<hr class="my-2" />
<div id="userConfig-body">
    @{ await Html.RenderPartialAsync("Components/UserConfigComponent"); }
</div>
