@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <strong>Effective Date:</strong> 14th August 2023
</p>

<p>
    Welcome to the Xenia Dashboard! This Privacy Policy outlines how we collect, use, and protect your personal information when you use the Xenia Dashboard in connection with the Xenia Discord bot. By accessing and using the Xenia Dashboard, you consent to the practices described in this Privacy Policy.
</p>

<h3 id="information_we_collect">1. Information We Collect</h3>

<ol type="a">
    <li>
        <strong>Session Cookies:</strong>
        In order to provide you with access to our services, we use session cookies to authenticate and store certain information during your session. This may include your IP address, browser user agent, Discord Account ID, Discord Email, and Discord display name. These cookies help us ensure the security of your account. None of these details will be used for advertising.
    </li>
    <li>
        <strong>Stored Messages:</strong>
        The Xenia Discord bot may log and store messages sent in servers where it is present. This is done for logging and moderation purposes, helping server administrators manage and maintain their communities.
    <li>
        <strong>Dashboard Access Times:</strong>
        We collect information about the times you access the Xenia Dashboard. This data helps us understand usage patterns and improve our services.
    </li>
</ol>

<h3 id="how_we_use_your_information">2. How We Use Your Information</h3>

<ol type="a">
    <li>
        <strong>Session Cookies:</strong>
        We use session cookies to authenticate your access to the Xenia Dashboard and provide you with a seamless experience. This information is used to ensure the security of your account and monitor dashboard usage.
    </li>
    <li>
        <strong>Stored Messages:</strong>
        Messages stored by the Xenia Discord bot are used for logging and moderation purposes to assist server administrators in maintaining a safe and orderly server environment.
    </li>
    <li>
        <strong>Dashboard Access Times:</strong>
        Information about when you access the dashboard helps us analyze usage patterns, troubleshoot technical issues, and improve our services.
    </li>
</ol>

<h3 id="data_retention">3. Data Retention</h3>

<ol type="a">
    <li>
        <strong>Session Cookies:</strong>
        Session cookie data is retained only for the duration of your session and is automatically deleted once you log out or your browser decides the session is finished/expired.
    </li>
    <li>
        <strong>Stored Messages:</strong>
        Messages stored by the Xenia Discord bot may be retained for a limited period of time to folfill logging and moderation requirements. We do not use these messages for any other purpose.
    </li>
    <li>
        <strong>Dashboard Access Times:</strong>
        Information about when you access the dashboard is retained for a reasonable period of time to analyze usage patterns and improve our services.
    </li>
</ol>

<h3 id="information_sharing">4. Information Sharing</h3>

We do not sell, rent, or trade your personal information to third parties. However, we may share your information with trusted service providers who assist us in operating our services and providing support to users.

<h3 id="your_choices">5. Your Choices</h3>

You have the right to review, update, or delete the personal information associated with your Xenia Dashboard account. If you wish to do so, please contact us at <a href="mailto:kate@dariox.club"><code>kate@dariox.club</code></a> for assistance.

<h3 id="security">6. Security</h3>

We take reasonable measures to protect your personal information from unauthorized access, alteration, or destruction. However, no method of data transmission or storage is completely secure, and we cannot guarantee the absolute security of your information.

<h3 id="changes">7. Changes to this Privacy Policy</h3>

<p>
    We may update this Privacy Policy from time to time. Any changes will be posted on this page, and the "Effective Date" at the top of the policy will be updated accordingly. Your continued use of the Xenia Dashboard after any changes indicates your acceptance of the revised Privacy Policy.
</p>

<p>
    If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at <a href="mailto:kate@dariox.club"><code>kate@dariox.club</code></a>.
</p>
