@model BaseViewModel

@{
    ViewData["Title"] = "Vote";
}

<div class="px-4 py-5 my-5 text-center">
    <h3>You can vote for Xenia bot on the following websites</h3>
    <a href="https://top.gg/bot/@Model.Client.CurrentUser.Id" class="btn btn-lg btn-danger my-2">top.gg</a>
    <a href="https://discordbotlist.com/bots/@Model.Client.CurrentUser.Id" class="btn btn-lg btn-primary my-2">DiscordBotList.com</a>
</div>

    