@model NotAuthorizedViewModel?
@namespace XeniaBot.WebPanel.Views.Shared
@{
    ViewBag.Title = "Not Authorized";
    Layout = "_Layout";
}

<h1>Unauthorized</h1>
<p>You cannot access this page due to you not being logged in or you don't have the right permissions.</p>
@if (@Model != null)
{
    <hr class="mt-2" />
    @if (@Model.ShowLoginButton)
    {
        <a class="btn btn-success" asp-area="" asp-controller="Authentication" asp-action="SignIn">Login</a>
    }
    <hr class="mb-2" />
    @if (!string.IsNullOrEmpty(@Model.Message))
    {
        <p>@Model.Message</p>
    }
}
<h4><a asp-area="" asp-controller="Home" asp-action="Index">Go Home</a></h4>