@{
    ViewBag.Title = "Not Authorized";
    Layout = "_Layout";
}

<h1>Unauthorized</h1>
<p>You cannot access this page due to you not being logged in or you don't have the right permissions.</p>
<h4><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></h4>