@model string

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Not Found</h1>
<p>The data you requested could not be found. </p>
<pre><code>@Model</code></pre><br/>
<h4><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></h4>
