@model ServerDetailsViewModel

<div class="row d-flex flex-row">
    <div class="m-1 col-auto">
        <div class="card">
            <div class="card-header card-header-sm" id="counting">
                Counting
            </div>
            <div class="card-body">
                @{ await Html.RenderPartialAsync("Details/Settings/Counting"); }
            </div>
        </div>
    </div>
    <div class="m-1 col-auto">
        <div class="card">
            <div class="card-header card-header-sm" id="xp">
                Level System
            </div>
            <div class="card-body">
                @{ await Html.RenderPartialAsync("Details/Settings/LevelSystem"); }
            </div>
        </div>
    </div>
    <div class="m-1 col-auto">
        <div class="card">
            <div class="card-header card-header-sm" id="xp">
                Confession
            </div>
            <div class="card-body">
                @{ await Html.RenderPartialAsync("Details/Settings/Confession"); }
            </div>
        </div>
    </div>
</div>