@model ServerDetailsViewModel

<div class="d-flex flex-row">
    <div class="col col-auto">
    <div class="card">
        <div class="card-header card-header-sm" id="bansync">Ban Sync</div>
        <div class="card-body">
            @{ await Html.RenderPartialAsync("Settings/BanSync"); }
        </div>
    </div>
    </div>
    <div class="col col-auto">
        <div class="card">
            <div class="card-header card-header-sm" id="log">Logging</div>
            <div class="card-body">
                @{ await Html.RenderPartialAsync("Settings/Logging"); }
            </div>
        </div>
    </div>
</div>