@using XeniaBot.Data.Models
@model ServerDetailsViewModel

@{
    ViewBag.Title = $"Counting - {@Model.Guild.Name}";
    Layout = "_Layout";
}

@await Component.InvokeAsync("GuildBanner", new GuildBannerViewParameters(Model.Guild.Id, true,
new List<BreadcrumbItem>()
{
    new BreadcrumbItem("Servers", "Server", "List"),
    new BreadcrumbItem(Model.Guild.Name, "Server", "Index", new Dictionary<string, string>()
    {
        {"id", Model.Guild.Id.ToString()}
    }),
    new BreadcrumbItem("Counting")
}))


<div class="row d-flex flex-row">
    <div class="m-1 col-auto"
         id="counting-body">
        @{ await Html.RenderPartialAsync("CountingComponentView"); }
    </div>
</div>