@using XeniaBot.Data.Models
@model XeniaBot.WebPanel.Models.Component.FunView.IServerLevelSystemComponentViewModel

@{
    ViewBag.Title = $"Level System - {@Model.Guild.Name}";
    Layout = "_Layout";
}

@await Component.InvokeAsync("GuildBanner", new GuildBannerViewParameters(Model.Guild.Id, true,
new List<BreadcrumbItem>()
{
    new BreadcrumbItem("Servers", "Server", "List"),
    new BreadcrumbItem(Model.Guild.Name, "Server", "Index", new Dictionary<string, string>()
    {
        {"id", Model.Guild.Id.ToString()}
    }),
    new BreadcrumbItem("Level System")
}))

<div class="row d-flex flex-row">
    <div class="m-1 col-auto">
        <div class="card">
            <div class="card-header card-header-sm">
                General Settings
            </div>
            <div class="card-body"
                 id="level-general-content">
                @{ await Html.RenderPartialAsync("LevelSystem/GeneralComponentView"); }
            </div>
        </div>
    </div>
    <div class="m-1 col-auto">
        <div class="card">
            <div class="card-header card-header-sm">
                Role Rewards
            </div>
            <div class="card-body"
                 id="level-reward-content">
                @{ await Html.RenderPartialAsync("LevelSystem/RewardComponentView"); }
            </div>
        </div>
    </div>
</div>