@using System.Net
@model AdminIndexModel

@{
    ViewData["Title"] = "Admin Home";
}

<h3>Guilds</h3>
<table id="adminServerSelect" class="table table-bordered table-sm">
    <thead>
    <tr>
        <th class="th-sm">Name</th>
        <th class="th-sm">Member Count</th>
        <th class="th-sm">Id</th>
        <th></th>
    </tr>
    </thead>
    <tbody hx-get="/Admin/Components/ServerList"
           hx-target="this"
           hx-swap="innerHTML"
           hx-trigger="load"
           hx-indicator=".htmx-indicator"
           id="serverListContainer">
    </tbody>
</table>
<div class="d-flex justify-content-center">
    <div class="spinner-border htmx-indicator" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>