@using XeniaBot.Data.Models
@model ServerDetailsViewModel

<form id="counter_settings" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Server" asp-action="SaveSettings_Counting" asp-route-id="@Model.Guild.Id">
    
    @await Component.InvokeAsync("ChannelSelect", new ChannelSelectModel()
       {
           Channels = StrippedChannel.FromGuild(@Model.Guild),
           Categories = StrippedCategory.FromGuild(@Model.Guild),
           SelectedChannelId = @Model.CounterConfig.ChannelId,
           ParentFormId = "counter_settings",
           Name = "inputChannelId",
           Id = "inputChannelId",
           DisplayName = "Channel"
       })
    <input class="btn btn-success" type="submit" value="Save"/>
</form>