@model ServerDetailsViewModel

<form id="role_preserve"
      enctype="application/x-www-form-urlencoded"
      method="post"
      asp-controller="Server"
      asp-action="SaveSettings_RolePreserve"
      asp-route-id="@Model.Guild.Id">
    
      <div class="form-check mb-3">
            <input class="form-check-input" name="enable" type="checkbox" value="true" id="role_preserve_enable" checked="@Model.RolePreserve.Enable" />
            <label class="form-check-label" for="role_preserve_enable">Enable</label>
      </div>
      <input class="btn btn-success" type="submit" value="Save"/>
</form>