@model AlertComponentViewModel


@if (Model.Message != null)
{
    <div class="@(Model.MessageClass) mb-2" role="alert">
        @Model.Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}