@using XeniaBot.WebPanel.Helpers
@model ReminderViewModel

@{
    ViewBag.Title = "Reminders";
    Layout = "_Layout";
}

<h2>Current Reminders</h2>
@if (!Model.Reminders.Any())
{
    <div class="px-4 py-5 my-5 text-center">
        <h4>No Reminders found.</h4>
        <p>
            @* <a asp-controller="Reminder" asp-action="CreatePage" class="btn btn-success">Create</a> *@
        </p>
    </div>
}
else
{
    <table class="table" id="reminderTable">
        <thead>
        <th>Guild</th>
        <th>When</th>
        <th>Notes</th>
        <th></th>
        </thead>
        <tbody id="reminderListContainer"
               hx-get="/Reminders/Component"
               hx-target="this"
               hx-swap="innerHTML"
               hx-trigger="load"
               hx-indicator=".htmx-indicator">
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <div class="spinner-border htmx-indicator" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}