@model XeniaBot.WebPanel.Models.InputComponentModel
@using Discord.WebSocket


@if (Model.DisplayName == null)
{
    <div class="form-group mb-3">
        @await Component.InvokeAsync("InputRaw", Model)
    </div>
}
else
{
    @if (Model.InputGroup)
    {
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="@Model.Id" style="width: 12rem;">@Model.DisplayName</span>
            </div>
            @await Component.InvokeAsync("InputRaw", Model)
        </div>
    }
    else
    {
        <div class="form-group mb-3">
            <label for="@Model.Id">@Model.DisplayName</label>
            @await Component.InvokeAsync("InputRaw", Model)
        </div>
    }
}