@model StrippedGuild

<div class="d-flex flex-row align-items-center p-3 text-white rounded shadow-sm bg-dark">
    <img class="me-3 rounded-circle mr-3" src="@(Model.IconUrl)" alt="" width="48" height="48">
    <div class="lh-1">
        <h1 class="h6 mb-0 text-white lh-1">@Model.Name</h1>
        <small>@Model.MemberCount members</small>
    </div>
</div>