@model XeniaBot.WebPanel.Models.Component.AdminRolePreserveComponentViewModel

@await Component.InvokeAsync("Alert", AlertComponentViewModel.FromExisting(Model, true))

<form id="role_preserve"
      hx-post="/Admin/Server/@Model.Guild.Id/Settings/RolePreserve"
      hx-target="#rolePreserve-body"
      hx-swap="innerHTML"
      hx-indicator="#rolePreserve-body [type=submit] .htmx-indicator">
    <div class="form-check mb-3">
        <input class="form-check-input" name="enable" type="checkbox" value="true" id="role_preserve_enable" checked="@Model.RolePreserve.Enable" form="role_preserve"/>
        <label class="form-check-label" for="role_preserve_enable">Enable</label>
    </div>
    <button class="btn btn-success"
            type="submit">
        <span class="spinner-border htmx-indicator spinner-border-sm" role="status" aria-hidden="true"></span>
        Save
    </button>
</form>